#creationMainDiv {
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 40px;
    padding-left: 40px;
    border: 3px solid black;
    border-radius: 30px;
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
}
.inputBox{
    outline: none;
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    border: 2px solid;
    border-radius: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    background-color: #F5F5F5;
}
#photoSelect {
    margin-top: 30px;
    margin-left: 30px;    
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
}
#createBtn {
    width: 200px;
    height: 40px;
    margin-bottom: 40px;
    margin-top: 40px;
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    color: white;
    background-color: #8A2BE2;
    border-radius: 20px;
}