#userItem {
  margin: 40px auto;
  margin-left: 40px;
  margin-right: 40px;
  border: 2px solid black;
  border-radius: 20px;
  font-family: 'Work Sans', sans-serif;
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
